[submodule "tests/src/ext/googletest"]
	path = tests/src/ext/googletest
	url = git@github.com:google/googletest.git
[submodule "src/ext/kaguya"]
	path = src/ext/kaguya
	url = git@github.com:satoren/kaguya.git