[submodule "tests/src/ext/googletest"]
	path = tests/src/ext/googletest
	url = git@github.com:google/googletest.git
[submodule "examples/basic/src/ext/SOIL2"]
	path = examples/basic/src/ext/SOIL2
	url = git@github.com:darsto/SOIL2.git
